header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: transparent;
}

#root {
	display: grid;
	place-items: center;
	min-height: 100vh;
	background-image: url(../img/ipv-background.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	gap: 5rem;
	padding-inline: 2.5rem;
}

@media (max-width: 1024px) {
	.container {
		margin-block: 7rem;
		flex-direction: column-reverse;

		padding-inline: 0.5rem;
	}
}

.container > div {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

section {
	display: flex;
}

section a {
	color: lightblue;
}

form {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(25px);

	padding: 2rem 3rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

@media (max-width: 1024px) {
	form {
		padding: 1rem 1.5rem;
		width: 100%;
	}
}

form div {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

textarea {
	resize: vertical;
}

form input,
textarea {
	padding: 0.5rem;
	border: none;
	border-radius: 0.5rem;

	background: rgba(255, 255, 255, 0.75);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

form input:focus,
textarea:focus {
	background: rgba(255, 255, 255, 1);
	outline: none;
}

.btn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 3rem;
}

@media (max-width: 1024px) {
	.btn-container {
		flex-direction: column;
		gap: 1rem;
	}
}

form button {
	padding: 0.5rem 5rem;
	border: none;
	border-radius: 0.5rem;

	background-color: white;
	color: black;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

	cursor: pointer;
	transition-duration: 100ms;
}

form button:hover,
form button:disabled {
	background-color: #353535;
}

form button:disabled {
	cursor: not-allowed;
}
