header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: transparent;
}

#root {
	display: grid;
	place-items: center;
	min-height: 100vh;
	background-image: url(../img/mesh-22.png);
}

form {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(50px);

	padding: 2rem 5rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

form div {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

form div {
	color: black;
}

form input,
textarea {
	padding: 0.5rem;
	border: none;
	border-radius: 0.5rem;

	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

form input:focus,
textarea:focus {
	background: rgba(255, 255, 255, 0.5);
	outline: none;
}

.btn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

form button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.5rem;

	background-color: black;
	color: white;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

	cursor: pointer;
	transition-duration: 100ms;
}

form button:hover,
form button:disabled {
	background-color: rgb(53, 53, 53);
}

form button:disabled {
	cursor: not-allowed;
}
