* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;

  padding-inline: 3rem;
}

header img {
  height: 5rem;
  margin-left: -2.5rem;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  gap: 2rem;
}

header ul li a {
  list-style: none;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

main p {
  color: black;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider > img {
  display: none;
  width: 90%;
  height: 90vh;
  object-fit: cover;
}

.slider > img.active {
  display: block;
}

footer {
  display: flex;
  justify-content: space-between;

  width: 100%;
  background-color: gray;

  margin-top: 2rem;
  padding: 2rem 25%;
}

footer p {
  color: white;
  font-size: 1.5rem;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

footer ul li img {
  color: white;
}
